<!DOCTYPE html>
{% load staticfiles %}
<HTML>
<HEAD>
<TITLE> SIGN UP FORM  </TITLE>
<link rel='stylesheet' href='{% static "css/stylesheet.css" %}'>
</HEAD>
<BODY>

       <DIV CLASS="CONTAINER">
               <FIELDSET>
                 <LEGEND>  <H2> SIGNUP FORM</H2>  </LEGEND>
                      <FORM ACTION="" METHOD="">

                            <INPUT TYPE="TEXT" PLACEHOLDER="FIRST NAME"><BR><BR>
                           <INPUT TYPE="TEXT" PLACEHOLDER="LAST NAME"><BR><BR>
                           <INPUT TYPE="NUMBER" PLACEHOLDER="PHONE NUMBER"><BR><BR>
                           <INPUT TYPE="EMAIL" PLACEHOLDER="EMAIL"><BR><BR>
                           <INPUT TYPE="PASSWORD" PLACEHOLDER="ENTER PASSWORD"><BR><BR>
                           <INPUT TYPE="PASSWORD" PLACEHOLDER="CONFIRM  PASSWORD"><BR><BR>
                           <INPUT  ID="BUTTON" TYPE="SUBMIT" VALUE="SUBMIT"><BR><BR>

                      </FORM>
                  </FIELDSET>
      </DIV>

</BODY>
</HTML>
